<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      background: #FFF;
    }
  </style>
</head>

<body>
  <div> template contract </div>
  <div id="data">star2t2</div>
</body>
<script>
window.dataInit = function(data) {
  var elem = document.getElementById('data')
  elem.innerHTML = "+4++440"
  elem.innerHTML = data + "+4++440"
  elem.innerHTML = data + "+4++440"+"<br\>"+JSON.stringify(navigator.userAgent)
  return 
}
</script>
</html>